 /*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/


// Colors ======================================================================================
.textgray
{
    color: @gray;
}
.textyel
{
    color: @yellow;  
}
.textgreen
{
    color: @green;
}
.textwhite
{
    color: @white;
}
.textdblue
{
    color: @dblue;
}
.textdgray
{
    color: @dgray;
}
.textpurp
{
    color: @purple;
}
.textbl
{
    color: @black;
}
.textred
{
    color: @red;
}
.textdred
{
    color: @dred;
}
.textaqua
{
    color: @aqua;
}
.textdaqua
{
    color: @daqua;
}
.textdgreen
{
    color: @dgreen;
}
.textlpurple
{
    color: @lightpurple;
}
.textgold
{
    color: @gold;
}
.textdpurple
{
    color: @dpurple;
}
.textpink
{
    color: @pink;
}
.textamblue
{
    color: @amblue;
}
.textazur1
{
    color: @azur1;
}
.textazur2
{
    color: @azur2;
}
.textlightazur
{
    color: @lightazur;
}
.textclay
{
    color: @cclay;
}

// Background color
.backggray
{
    background: @gray;
}
.backgyel
{
    background: @yellow;  
}
.backggreen
{
    background: @green;
}
.backgwhite
{
    background: @white;
}
.backgdblue
{
    background: @dblue;
}
.backgdgray
{
    background: @dgray;
}
.backgpurp
{
    background: @purple;
}
.backgbl
{
    background: @black;
}
.backgred
{
    background: @red;
}
.backgdred
{
    background: @dred;
}
.backgaqua
{
    background: @aqua;
}
.backgdaqua
{
    background: @daqua;
}
.backgdgreen
{
    background: @dgreen;
}
.backglpurple
{
    background: @lightpurple;
}
.backggold
{
    background: @gold;
}
.backgdpurple
{
    background: @dpurple;
}
.backgpink
{
    background: @pink;
}
.backgamblue
{
    background: @amblue;
}
.backgazur1
{
    background: @azur1;
}
.backgazur2
{
    background: @azur2;
}
.backglightazur
{
    background: @lightazur;
}
.backgclay
{
    background: @cclay;
}