 /*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/

// Custom Font removed

// Apply The font
h1,h2,h3,h4,h5,h6,p,a,code,button//,*
{
    font-family: Arial, sans-serif;
}

// set the Antialiasing 
html, input, textarea, select, button,code 
{
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

