 /*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/

/* Table ===================================================================================================*/
// -------- Vars --------
@color-td: #ddd;

// Started new table system

table{
    background-color: white;
    border-collapse: collapse;
}

.table{
            
    width: 100%;
    max-width: 100%;
    
}  

caption{ // Caption
    font-size: 105%;
    text-align: left;
}

td,tr{
    position: static;
    border: 1px dashed @color-td;
    text-align: left;

}

// ------------------------
table,td,th{
    position: static;
    float: none;    
}