 /*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/

// --------------
// Border-radius
.border-radius (@radius) {
    
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -o-border-radius: @radius;
    
}

.float(@floattype) {
    
    float: @floattype;
    
}
