/*

-------------------------------------------------
-				 		-
-	Base Template of ButterFramework	-
-				 		-
-------------------------------------------------

You can Delete ALL OF THIS CONTENT
*/


body
{	
    background-color: #FFF; /* Change background  */
}

#sdk /* 'Use Butterframework' text */
{
    text-align: center;
    color: gray;
    float: none;
}
