/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

Koala GUI, WinLess compilers supported

§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§
!Compile only this file for create the BFramework CSS!
§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§

MIT license
*/
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT license
*/
/*
Var @navbar-number-of-content
For mobile version : Add or remove for adding or removing a line
1 line: @navbar-number-of-content: 1;
2 line: @navbar-number-of-content: 2;
3 line: @navbar-number-of-content: 3;
4 line: @navbar-number-of-content: 4;*/
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
html,
input,
textarea,
select,
button,
code,
pre {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
  -webkit-font-smoothing: antialiased;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
.textgray {
  color: #808080;
}
.textyel {
  color: #ffff00;
}
.textgreen {
  color: #008000;
}
.textwhite {
  color: #ffffff;
}
.textdblue {
  color: #00008b;
}
.textdgray {
  color: #a9a9a9;
}
.textpurp {
  color: #800080;
}
.textbl {
  color: #000000;
}
.textred {
  color: #ff0000;
}
.textdred {
  color: #8b0000;
}
.textaqua {
  color: #00ffff;
}
.textdaqua {
  color: #009e7d;
}
.textdgreen {
  color: #006400;
}
.textlpurple {
  color: #ff00ff;
}
.textgold {
  color: #e6ff00;
}
.textdpurple {
  color: #3a003a;
}
.textpink {
  color: #ffc0cb;
}
.textamblue {
  color: #79f8f8;
}
.textazur1 {
  color: #007fff;
}
.textazur2 {
  color: #1e7fcb;
}
.textlightazur {
  color: #74d0f1;
}
.textclay {
  color: #efefef;
}
.backggray {
  background-color: #808080;
}
.backgyel {
  background-color: #ffff00;
}
.backggreen {
  background-color: #008000;
}
.backgwhite {
  background-color: #ffffff;
}
.backgdblue {
  background-color: #00008b;
}
.backgdgray {
  background: #a9a9a9;
}
.backgpurp {
  background-color: #800080;
}
.backgbl {
  background-color: #000000;
}
.backgred {
  background-color: #ff0000;
}
.backgdred {
  background-color: #8b0000;
}
.backgaqua {
  background-color: #00ffff;
}
.backgdaqua {
  background: #009e7d;
}
.backgdgreen {
  background-color: #006400;
}
.backglpurple {
  background-color: #ff00ff;
}
.backggold {
  background-color: #e6ff00;
}
.backgdpurple {
  background-color: #3a003a;
}
.backgpink {
  background-color: #ffc0cb;
}
.backgamblue {
  background-color: #79f8f8;
}
.backgazur1 {
  background-color: #007fff;
}
.backgazur2 {
  background-color: #1e7fcb;
}
.backglightazur {
  background-color: #74d0f1;
}
.backgclay {
  background-color: #efefef;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
p,
a {
  font-family: Arial, sans-serif;
}
/* TEXT POSITION ---------------------------------------*/
.textjust {
  text-align: justify;
}
.textcenter {
  text-align: center;
}
.textleft {
  text-align: left;
}
.textright {
  text-align: right;
}
.text25 {
  font-size: 25%;
}
.text50 {
  font-size: 50%;
}
.text100 {
  font-size: 100%;
}
.text150 {
  font-size: 150%;
}
.text200 {
  font-size: 200%;
}
.textbold {
  font-weight: bold;
}
.textitalic {
  font-style: italic;
}
em.noitalic {
  font-style: normal;
}
a.textdnone {
  text-decoration: none;
}
.textlinet {
  text-decoration: line-through;
}
.textover {
  text-decoration: overline;
}
.textblink {
  text-decoration: blink;
}
.textupperc {
  text-transform: uppercase;
}
.textdownc {
  text-transform: lowercase;
}
.textcapitalz {
  text-transform: capitalize;
}
.textident10px {
  text-indent: 10px;
}
.textident50px {
  text-indent: 50px;
}
.textident100px {
  text-indent: 100px;
}
/* P - Letter space */
.letterspace5px {
  letter-spacing: 5px;
}
.letterspace4px {
  letter-spacing: 4px;
}
.letterspace3px {
  letter-spacing: 3px;
}
.letterspace2px {
  letter-spacing: 2px;
}
.letterspace1px {
  letter-spacing: 1px;
}
.textshadowb {
  text-shadow: 5px 5px 5px #000;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
.bfnavbar nav {
  background: #666;
  font-size: 1.143em;
  height: 40px;
  line-height: 30px;
  margin: 0 auto 30px auto;
  text-align: center;
}
.bfnavbar nav.ul {
  list-style: none;
  margin: 0 auto;
}
.bfnavbar nav ul li {
  float: left;
  display: inline;
}
.bfnavbar nav a:link,
.bfnavbar nav a:visited {
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 5px 23px;
  text-decoration: none;
}
.bfnavbar nav a:hover,
bfnavbar nav a:active,
.bfnavbar nav .active a:link,
.bfnavbar nav .active a:visited {
  background: #868686;
  color: #fff;
}
@media only screen and (min-width: 150px) and (max-width: 690px) {
  .bfnavbar nav {
    background: #585858;
    font-size: 1.143em;
    height: 80px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .bfnavbar nav ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
  }
  .bfnavbar nav li {
    margin-left: 0 auto;
    width: 100%;
  }
  .bfnavbar nav a:link,
  .bfnavbar nav a:visited {
    color: #FFF;
    display: block;
    height: 30px;
    padding: 5px 0;
    text-decoration: none;
  }
  .bfnavbar nav a:active,
  .bfnavbar nav .active a:link,
  .bfnavbar nav .active a:visited {
    background: #868686;
    color: #fff;
  }
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
code,
pre,
kbd {
  font-family: Arial, sans-serif;
}
code {
  display: block;
  background-color: rgba(199, 199, 199, 0.7);
  font-size: 95%;
  color: #a8a8a8;
  padding: 2px 4px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
}
code.block {
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
}
pre {
  display: block;
  font-size: 90%;
}
pre.code {
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
}
kbd {
  display: block;
  box-shadow: 1px 1px 5px 0px #656565;
  -moz-box-shadow: 1px 1px 5px 0px #656565;
  -webkit-box-shadow: 1px 1px 5px 0px #656565;
  -o-box-shadow: 1px 1px 5px 0px #656565;
}
kbd.kbd {
  box-shadow: none;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
/* Float ===============================================================================================*/
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
.floatnone {
  float: none;
}
.outlinestylenone {
  outline-style: none;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
/* Table ================*/
table {
  background-color: white;
  border-collapse: collapse;
}
table.table {
  width: 100%;
  max-width: 100%;
}
caption {
  font-size: 105%;
  text-align: left;
}
table.td,
table.tr {
  position: static;
  border: 1px dotted #dddddd;
  text-align: left;
}
table,
td,
th {
  position: static;
  float: none;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #f0f0f0));
  background: -moz-linear-gradient(center top, #ededed 5%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#f0f0f0');
  background-color: #ededed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  height: 46px;
  line-height: 46px;
  width: 112px;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: button;
}
button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
  background-color: #f0f0f0;
}
button:active {
  position: relative;
  top: 1px;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
.wordbreak {
  word-wrap: break-word;
}
/* DISPLAY ELEMENTS */
.vhidden {
  visibility: hidden;
}
.vnone {
  display: none;
}
.displayinline {
  display: inline;
}
.displayblock {
  display: block;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
/* MISC =============================================================================================*/
div.padding {
  padding: 4px;
  border-radius: 25px;
}
/* LIST */
.liststylenone {
  list-style-type: none;
}
img.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
