 /*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others


*/
// ------ Imports ------

// ButterFramework Core imports

@import '/less/colors'; // Colors
@import '/less/text'; // Text
@import '/less/button'; // Buttons
@import '/less/table'; // Table
@import '/less/font'; // Font, This can be removed
@import '/less/float'; // Float
@import '/less/navbar'; // Navigation bar is here
@import '/less/style'; // Misc
@import '/less/display'; 
@import '/less/code'; // For 'Code' Tag
@import '/less/utils'; // Some functions


// ------ Vars ------ 

// !-!-! Base Vars !-!-!

@antialiased: antialiased; // antialiased | none | ...

// - Colors
@gray: gray;
@yellow: yellow;
@gold: #e6ff00; 
@green: green;
@dgreen: darkgreen;
@white: white;
@black: black;
@dblue: darkblue;
@dgray: darkgray;
@purple: purple;
@dpurple: #3a003a; 
@lightpurple: #ff00ff; 
@daqua: #009e7d;
@aqua: aqua;
@red: red;
@dred: darkred;
@pink: pink;
@amblue: #79f8f8; 
@azur1: #007FFF;
@azur2: #1E7FCB;
@lightazur: #74D0F1; 
@cclay: #EFEFEF; // C for color, another C for clay

