/*
ButterFramework

A very tiny simple framework

You need to compile the file like 'Winless' or others

MIT License
*/
/* TEXT POSITION ---------------------------------------*/
.textjust {
  text-align: justify;
}
.textcenter {
  text-align: center;
}
.textleft {
  text-align: left;
}
.textright {
  text-align: right;
}
.text25 {
  font-size: 25%;
}
.text50 {
  font-size: 50%;
}
.text100 {
  font-size: 100%;
}
.text150 {
  font-size: 150%;
}
.text200 {
  font-size: 200%;
}
.textbold {
  font-weight: bold;
}
.textitalic {
  font-style: italic;
}
em.noitalic {
  font-style: normal;
}
a.textdnone {
  text-decoration: none;
}
.textlinet {
  text-decoration: line-through;
}
.textover {
  text-decoration: overline;
}
.textblink {
  text-decoration: blink;
}
.textupperc {
  text-transform: uppercase;
}
.textdownc {
  text-transform: lowercase;
}
.textcapitalz {
  text-transform: capitalize;
}
.textident10px {
  text-indent: 10px;
}
.textident50px {
  text-indent: 50px;
}
.textident100px {
  text-indent: 100px;
}
/* P - Letter space */
.letterspace5px {
  letter-spacing: 5px;
}
.letterspace4px {
  letter-spacing: 4px;
}
.letterspace3px {
  letter-spacing: 3px;
}
.letterspace2px {
  letter-spacing: 2px;
}
.letterspace1px {
  letter-spacing: 1px;
}
.textshadowb {
  text-shadow: 5px 5px 5px #000;
}
