 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/


button {
    
    &.button
    {
        display: block;
        padding: .9em 1em;
        font: 1.2em;
        text-decoration: none;
        background: #4b7dbc;
        color: white;
        border: none;
        
        // Mixins
        @include border-radius(5px);
        @include box-shadow(1px 1px 2px silver);
    
        -webkit-appearance: button; // Fix to Safari
            
    
            &:hover 
            { // When mouse is over
            
                cursor: pointer;
                background-color: #41699d;
            }
    
    }        
}