 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

// Colors =============================
.textgray{
    
    color: $gray;
}
.textyel{
    
    color: $yellow;  
}
.textgreen{
    
    color: $green;
}
.textwhite{
    
    color: $white;
}
.textdblue{
    
    color: $dblue;
}
.textdgray{
    
    color: $dgray;
}
.textpurp{
    
    color: $purple;
    
}
.textbl{
    
    color: $black;
    
}
.textred{
    
    color: $red;
    
}
.textdred{
    
    color: $dred; 
    
}
.textaqua{
    
    color: $aqua;
    
}
.textdaqua{
    
    color: $daqua;
    
}
.textdgreen{
    
    color: $dgreen;
    
}
.textlpurple{
    
    color: $lightpurple;
    
}
.textgold{
    
    color: $gold;
    
}
.textdpurple{
    
    color: $dpurple;
    
}
.textpink{
    
    color: $pink;
    
}
.textamblue{
    
    color: $amblue;
}
.textazur1{
    
    color: $azur1;
    
}
.textazur2{
    
    color: $azur2;
    
}
.textlightazur{
    
    color: $lightazur;
    
}
.textclay{
    
    color: $cclay;
    
}

// Background color
.backggray{
    
    background-color: $gray;
}
.backgyel{
    
    background-color: $yellow;
    
}
.backggreen{
    
    background-color: $green;
    
}
.backgwhite{
    
    background-color: $white;
    
}
.backgdblue{
    
    background-color: $dblue;
    
}
.backgdgray
{
    background: $dgray;
    
}
.backgpurp{
    
    background-color: $purple;
    
}
.backgbl{
    
    background-color: $black;
    
}
.backgred{
    
    background-color: $red;
    
}
.backgdred{
    
    background-color: $dred;
    
}
.backgaqua{
    
    background-color: $aqua;
    
}
.backgdaqua{
    
    background: $daqua;
    
}
.backgdgreen{
    
    background-color: $dgreen;
    
}
.backglpurple{
    
    background-color: $lightpurple;
    
}
.backggold{
    
    background-color: $gold;
    
}
.backgdpurple{
    
    background-color: $dpurple;
    
}
.backgpink{
    
    background-color: $pink;
    
}
.backgamblue{
    
    background-color: $amblue;
    
}
.backgazur1{
    
    background-color: $azur1;
    
}
.backgazur2{
    
    background-color: $azur2;
    
}
.backglightazur{
    
    background-color: $lightazur;
    
}
.backgclay{
    
    background-color: $cclay;
    
}