 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

// WordBreak
.wordbreak{
    
    word-wrap:break-word;   
}

/* DISPLAY ELEMENTS */
.vhidden{ 
    
    visibility: hidden;
    
}
.vnone {
    
    display: none;
    
}
.displayinline{
    
    display: inline;
    
}
.displayblock {
    
    display: block;
}