 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

/* DISPLAY ELEMENTS */
.vhidden
{    
    visibility: hidden;    
}

.vnone 
{    
    display: none;   
}

.displayinline
{   
    display: inline;   
}
.displayblock 
{   
    display: block;
}