 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

// ----------------
// Clearfix (Bourbon.io)

@mixin clearfix 
{ // micro clearfix hack
  zoom: 1;
  &:before, &:after
    { 
        content: ""; 
        display: table; 
    }
    
  &:after 
    { 
      clear: both; 
    }
}

// ---------------
// Border box
// By Paul Irish

@mixin border-box 
{ 
    box-sizing: border-box; // Opera, IE8+
    -webkit-box-sizing: border-box; // Webkit (Chrome, Safari, other webkit)
     -moz-box-sizing: border-box; // Firefox 
}

// --------------
// Border-radius

@mixin border-radius ($b-radius) 
{
 // Min   
    border-radius: $b-radius;
    -moz-border-radius: $b-radius;
    -webkit-border-radius: $b-radius;
    -o-border-radius: $b-radius;
    
}

// ----------------
// Float

@mixin float($float-type) 
{
    // Float
    float: $float-type;
    
}

// ----------------
// BoxShadow
@mixin box-shadow($box-shadow)
{
    
    box-shadow: $box-shadow; // Other
    -moz-box-shadow: $box-shadow; // Firefox
    -webkit-box-shadow: $box-shadow; // Webkit (Chrome, Safari, other webkit)
    -o-box-shadow: $box-shadow; // Opera
    
}
