 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/
// ===========================================
// BFramework navbar
.bfnavbar 
{
    nav 
    {
    
	background: #666;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
    }
    
    ul { // Dont make °
	       list-style: none; 
	       margin: 0 auto;
    }
    
}

.bfnavbar nav ul li {
	float: left; 
	display: inline; 
}
	
.bfnavbar nav a:link, 
.bfnavbar nav a:visited { // Don't change the color
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}

.bfnavbar nav a:hover, // When mouse is over 
bfnavbar nav a:active,
.bfnavbar nav .active a:link, // if 'a' is selected with active class
.bfnavbar nav .active a:visited {
	background: #4b7dbc;
	color: #fff;
}

// -------------------------------
// Responsive navbar


@media only screen and (min-width : 150px) and (max-width : 690px)
{
    .bfnavbar nav {
		background: #666;
		font-size: 1.143em;
		height: 40px*$navbar-number-of-content; // Height of the thing
		line-height: 30px;
		margin-bottom: 0;
	}
		
	.bfnavbar nav ul {
		list-style: none; 
		margin: 0 auto;
		padding-left: 0;
	}
	
	.bfnavbar nav li {
		margin-left: 0 auto;
		width: 100%;
	}
	
	.bfnavbar nav a:link, 
    .bfnavbar nav a:visited {
		color: #FFF;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}
	
	.bfnavbar nav a:active,
    .bfnavbar nav .active a:link,
    .bfnavbar nav .active a:visited {
		background: #4b7dbc;;
		color: #fff;
	}
}