 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/
/* LIST */
.liststylenone // List style
{ 
    list-style-type:none;
}

//-------------------------
// imgcenter Center Image
// Simple 

img.imgcenter
{
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}    
