 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

// Some 
div
{
    padding // A simple padding, need a background
    {
    padding: 4px;
    border-radius: 25px;
    }
}
/* LIST */
.liststylenone // List style
{ 
    list-style-type:none;
}

//-------------------------
// imgcenter Center Image

img
{
    imgcenter
    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
}