 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

/* Table ================*/

table
{
    background-color: white;
}

table
{
    table
    {
    border-collapse: collapse;        
    width: 100%;
    max-width: 100%;
    
    }
}  

// --------------------
// Caption of table
caption
{ 
    font-size: 105%;
    text-align: left;
}

// -----------------------------------------
// Set the position and style
table
{
    
    tr,td
    {
        
    position: static;
    border: $table-border-size $table-set-style $table-td-color;
    text-align: left;
        
    }

}

table,td,th{
    position: static;
    float: none;    
}