 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

// -----------------------
// Table 

table
{ // set no border 
    border-collapse: collapse; // No border
}

td // Set the border
{
    border: $table-border-size $table-set-style $table-td-color;
}
// -----------------------
// Conf some stuff

td, th
{
    display: table-cell;
    vertical-align: inherit;
    border-top: 0;
    text-transform: none;
    text-align: left;
}

// --------------------
// Table class

.table // Table in full page
{
    width: 100%;
    max-width: 100%;
}

caption // Set the 'caption' text
{
    text-align: left;
}