 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

// --------------------
//Typography

body
{
  line-height: $line-height;
}


p 
{
  margin: 0 0 $vertical-measure 0; // set bottom margin equal to line-height/vertical measure
  font-size: 1em;
  line-height: $line-height;
}

// -------------------------
// Font size

h2
{
    font-size: $h2-size;
}

h3
{
    font-size: $h3-size;
}

h4
{
    font-size: $h4-size;
}

h5
{
    font-size: $h5-size;
}

h6
{
    font-size: $h6-size;
}
// End font size


h1, h2, h3, h4, h5, h6 
{
  margin: 0;
  text-rendering: $text-rendering;
}

h1
{
    
  line-height: 2.05; // tweak to align h1 to baseline within container
}

h2 
{
  line-height: 3.1; // tweak to align h2 to baseline within container
  margin-bottom: -0.32em; // tweak to align h2 to baseline within container
}