 /*
ButterFramework

A very very tiny simple framework
*/
/* Default init */
body /* The default background */
{
    background-color:#ebebeb;    
}

/* COLORS - Text */
.textgray
{
    color: gray;
}
.textyel
{
    color: Yellow;  
}
.textgreen
{
    color: green;
}
.textwhite
{
    color: white;
}
.textdblue
{
    color: darkblue;
}
.textdgray
{
    color: darkgray;
}
.textpurp
{
    color: purple;
}
.textbl
{
    color: black;
}
.textred
{
    color: red;
}
.textdred
{
    color: darkred;
}
.textaqua
{
    color: aqua;
}
.textdaqua
{
    color: #009e7d;
}
.textdgreen
{
    color: darkgreen;
}
.textlpurple
{
    color: #ff00ff;
}
.textgold
{
    color: #eaff29;
}
.textdpurple
{
    color: #3a003a;
}
.textpink
{
    color: pink;
}
.textamblue
{
    color: #79f8f8;
}
.textazur1
{
    color: #007FFF;
}
.textazur2
{
    color: #1E7FCB;
}
.textlightazur
{
    color: #74D0F1;
}
.textclay
{
    color: #EFEFEF;
}

/* Background - Colors */
.backggray
{
    background: gray;
}
.backgyel
{
    background: Yellow;  
}
.backggreen
{
    background: green;
}
.backgwhite
{
    background: white;
}
.backgdblue
{
    background: darkblue;
}
.backgdgray
{
    background: darkgray;
}
.backgpurp
{
    background: purple;
}
.backgbl
{
    background: black;
}
.backgred
{
    background: red;
}
.backgdred
{
    background: darkred;
}
.backgaqua
{
    background: aqua;
}
.backgdaqua
{
    background: #009e7d;
}
.backgdgreen
{
    background: darkgreen;
}
.backglpurple
{
    background: #ff00ff;
}
.backggold
{
    background: #eaff29;
}
.backgdpurple
{
    background: #3a003a;
}
.backgpink
{
    background: pink;
}
.backgamblue
{
    background: #79f8f8;
}
.backgazur1
{
    background: #007FFF;
}
.backgazur2
{
    background: #1E7FCB;
}
.backglightazur
{
    background: #74D0F1;
}
.backgclay
{
    background: #EFEFEF;
}

/* MENU BAR */
 /*  unfinished */
/*
ul.menubar
{
    list-style-type:none;
    margin:0;
    padding:0;
}
a:link
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    width:120px;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
a:visited
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    width:120px;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;  
}
a:hover
{
    background-color:#9f9f9f;
}
a:active
{
    background-color:#848484;
}
*/

/* MISC */

#sdk
{
    color: gray;
}
div.padding
{
    padding: 4px;
    border-radius: 25px;
}
/* LIST */
.liststylenone
{ 
    list-style-type:none;
}

/* Float */
.floatright
{
    float: right;
}
.floatleft
{
    float: left;
}
.floatnone
{
    float: none;
}

.outlinestylenone
{
    outline-style: none;
}

/* Table */
div.containertab
{
    width:100%;
    margin:0px;
    border:1px solid gray;
    line-height:150%;
}
div.headertab
{
    padding:0.5em;
    color:white;
    background-color:gray;
    clear:left;
}
div.footertab
{
    padding:0.5em;
    color:white;
    background-color:gray;
    clear:left;
}
h1.headertab
{
    padding:0;
    margin:0;
}
div.tablefttab
{
    float:left;
    width:160px;
    margin:0;
    padding:1em;
}
div.contenttab
{
    margin-left:190px;
    border-left:1px solid gray;
    padding:1em;
}

/* TEXT POSITION */
.textjust
{
    text-align:justify;
}
.textcenter
{
    text-align: center;
}
.textleft
{
    text-align: left;
}
.textright
{
    text-align: right;
}
img.imgcenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* TEXT MISC */

/* TEXT SIZE */
.text100
{
    font-size:100%;
}
.text150
{
    font-size: 150%;
}
.text200
{
    font-size: 200%;
}

/* TEXT STYLE */
.textbold
{
    font-weight: bold;
}
.textitalic
{
    font-style: italic;
}
em.noitalic
{
    font-style: normal;
}
a.textdnone
{
    text-decoration: none;
}
.textlinet
{
    text-decoration: line-through;
}
.textover
{
    text-decoration: overline;
}
.textblink
{
    text-decoration: blink;
}
.textupperc
{
    text-transform:uppercase;
}
.textdownc
{
    text-transform: lowercase;
}
.textcapitalz
{
    text-transform: capitalize;
}
.textident10px
{
    text-indent:10px;
}
.textident50px
{
    text-indent:50px;
}
.textident100px
{
    text-indent:100px;
}
/* P - Letter space */
p.letterspace5px
{
    letter-spacing:5px;  
}
p.letterspace4px
{
    letter-spacing:4px;  
}
p.letterspace3px
{
    letter-spacing:3px;  
}
p.letterspace2px
{
    letter-spacing:2px;  
}
p.letterspace1px
{
    letter-spacing:1px;  
}
.wordbreak
{
    word-wrap:break-word;   
}
/* DISPLAY ELEMENTS */
.vhidden
{  
    visibility:hidden;
}
.vnone 
{
    display:none;
}
.displayinline
{
    display:inline;
}
.displayblock 
{
    display:block;
}
/* ID - Need to be remove */
#letterspace5px
{
    letter-spacing:5px;  
}
#letterspace4px
{
    letter-spacing:4px;  
}
#letterspace3px
{
    letter-spacing:3px;  
}
#letterspace2px
{
    letter-spacing:2px;  
}
#letterspace1px
{
    letter-spacing:1px;  
}
#displayinline
{
    display: inline;
}
#vhidden
{  
    visibility:hidden;
}
#vnone 
{
    display:none;
}
#displayinline
{
    display:inline;
}
#displayblock 
{
    display:block;
}

/* Avanced text */
.textshadowb /* Tiny textshadows */
{
    text-shadow: 5px 5px 5px #000;
}