 /*
ButterFramework

A very tiny simple framework

MIT license
2014
*/

// ------------------------------------------
// ------------------------------------------
// ---- Framework customisable variables ----
// ------------------------------------------
// ------------------------------------------

// -----------------------
// Police
//------------------------

$framework-police: Arial;
$framework-font-family: sans-serif;


// -----------------------
// Custom font size
// -----------------------

$h2-size: 1.375em; //h2 , default: 22px
$h3-size: 1.25em; //h3 , default: 20px
$h4-size: 1.125em; //h4 , default: 18px
$h5-size: 1em; //h5 , default: 16px
$h6-size: 0.875em; //h6 , default: 14px

// -----------------------
// Text 
// -----------------------

$text-set-antialiasing: antialiased; // Vars : antialiased | none | subpixel-antialiased || For Safari, Chrome, other webkit
$text-rendering: optimizeSpeed; // auto | optimizeSpeed | optimizeLegibility | geometricPrecision | inherit  || Firefox (Gecko), Chrome, Safari                                   

// -----------------------
// Colors
// -----------------------

$gray: gray;
$yellow: yellow;
$gold: #e6ff00; 
$green: green;
$dgreen: darkgreen;
$white: white;
$black: black;
$dblue: darkblue;
$dgray: darkgray;
$purple: purple;
$dpurple: #3a003a; 
$lightpurple: #ff00ff; 
$daqua: #009e7d;
$aqua: aqua;
$red: red;
$dred: darkred;
$pink: pink;
$amblue: #79f8f8; 
$azur1: #007FFF;
$azur2: #1E7FCB;
$lightazur: #74D0F1; 
$cclay: #EFEFEF; // C for color, another C for clay

// -----------------------
// Code
// -----------------------


// -----------------------
// code.code

$code-background: #262626;
$code-color: #dbdbdb;
$code-padding: 4px 4px; // Padding of code.code
$code-border: 4px; // Border of code.code
$code-width: 500px;


// -----------------------
// Table
// -----------------------

$table-border-size: 2px; // border size
$table-set-style: dotted; // Set type of border
$table-td-color: #ddd; // Color of the border

// -----------------------
// Navbar
// -----------------------

$navbar-number-of-content: 2; // The defaut: 2
/*
Var $navbar-number-of-content
For mobile version : Add or remove for adding or removing a line
1 line: $navbar-number-of-content: 1;
2 line: $navbar-number-of-content: 2;
3 line: $navbar-number-of-content: 3;
4 line: $navbar-number-of-content: 4;
*/


// -----------------------
// -----------------------
// ======= Grid ==========
// -----------------------
// -----------------------

// -----------------------
// White - Grays - Black

$gray90: #1a1a1a;
$gray80: #333;
$gray70: #4d4d4d;
$gray60: #666;
$gray50: #808080;
$gray40: #999;
$gray30: #b3b3b3;
$gray20: #ccc;
$gray10: #e6e6e6;

// -----------------------
// Typography variables

$base-color: $black; // Base color of police
$line-height: 1.375; // establish a consistent line-height equal to 22px
$vertical-measure: 1.375em; // establish a vertical distance for margins equal to line-height